VITE_CHAVE_DE_APLICACAO=
VITE_URL_DO_NUCLEO=http://localhost:8000
VITE_URL_DA_APP_01_AULA=
VITE_URL_DA_APP_03_GESTAO=
VITE_URL_DA_APP_05_GUERREIRO=
VITE_URL_DA_APP_07_RESPONSAVEL=
VITE_URL_DA_APP_08_APOIADOR=
VITE_URL_DA_APP_09_MESTRE=
